<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="author" content="Marleen Kirsipuu. GitHub: marleenu">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>Number game</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <script src="/scripts.js" type="module"></script>
</head>
<body>
    <div id="board"></div>
        <div id="modal-backdrop">
            <div id="modal-container">
                Match numbers of the same value or with the sum of 1️⃣0️⃣
                <div class="help-container">
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                </div>
                OR
                <div class="help-container">
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number  tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" disabled value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" disabled value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                </div>
                OR
                <div class="help-container">
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" disabled value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" disabled value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                </div>
                OR
                <div class="help-container">
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" disabled value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number tutorial-selected" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                    <button style="border: solid 0.4vmin #d2d8ff" class="number" value="1">1</button>
                </div>
            <button id="close-modal">GOT IT</button>
        </div>
    </div>
    <div class="settings">
        <button class="reload">🔄</button>
    </div>
    <button id="cog">🤔</button>
</body>
</html>